<div class="tmpl-hh-header">
  <img alt="" class="tmpl-hh-header__banner" src="/assets/images/banner.jpg"/>
  <div class="tmpl-hh-header__bottom-row">
    <img alt="banner" class="tmpl-hh-header__logo" src="/assets/images/logo.svg"/>
    <div class="tmpl-hh-header__text-content">
      <p class="tmpl-hh-header__title">Стань частью команды!</p>
      <ul class="tmpl-hh-header__benefits-list">
        <li class="tmpl-hh-header__list-item">Стабильность</li>
        <li class="tmpl-hh-header__list-item">Оперативность</li>
        <li class="tmpl-hh-header__list-item">Удобный график</li>
        <li class="tmpl-hh-header__list-item">Работа рядом с домом</li>
      </ul>
    </div>
  </div>
</div>
